.posts-card{
    width: 80%;
    height: auto;
    background-color: #c7d6c7;
    margin-top: 10%;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 7px;
    display: flex;
    // justify-content: center;

    padding: 20px;
    padding-bottom: 20px;
    flex-direction: column;


    .timeStamp{
        font-family: Helvetica; 
        font-size: 14px; 
        margin: 10px 0 0 10px;

        color:rgba(0,0, 0, 0.6);
        font-weight: 400;
    }

    .status{
        text-align: center;
        text-align: left; 
        margin: 10px 0 0 10px;
        font-family: Helvetica; 
        font-size: 14px; 
        font-weight: 400; 
        color:rgba(0, 0, 0, 0.9);
    }
}