.post-status-parent{
    display: flex;
    justify-content: center;
    align-items: cente  ;

    .post-status{
        width: 80%;
        height: 120px;
        background-color: #c7d6c7;
        margin-top: 10%;
        border: 1px solid rgb(0, 0, 0);
        border-radius: 7px;
        display: flex;
        justify-content: center;
        align-items: center;
        
        .create-post{
            width: 80%;
            height: 40px;
            text-align: left;
            font-family: system-ui;
            color: #212121;
            font-size:medium;
            background-color: red;
            border: 1px solid #b7b7b7;
            border-radius: 30px;
            cursor: pointer;
            padding: 15px;
            font-weight: 600;
        }
        .create-post:hover{
            background-color: #f7f7f7;
        }
    }
}