/* Styles for post creation section */
.post-status-parent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  
    .post-status {

      
      width: 80%;
      max-width: 500px;
      height: 120px;
      background-color: #f0f5f5;
      margin-top: 20px;
      border: 2px solid #dbe3e3;
      border-radius: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  

      .post-image{
        width: 100px;
        object-fit: cover;
        border-radius: 50%;
      }

      .create-post {
        width: 70%; // Adjusted width for responsiveness
        height: 40px;
        text-align: left;
        font-family: Arial, sans-serif;
        color: #333;
        font-size: 16px;
        background-color: #4CAF50;
        border: none;
        border-radius: 20px;
        cursor: pointer;
        padding: 0 20px;
        font-weight: bold;
        transition: background-color 0.3s ease;
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
  
        &:hover {
          background-color: #45a049;
        }

        
      }
    }
    
    // Media query for smaller screens
    @media screen and (max-width: 768px) {
      .post-status {
        width: 90%; // Adjusted width for smaller screens
      }
    }
  }
  