@import "../../../GeneralTheme.scss";

.following-inner {
    display: flex;
    gap: 20px;
    padding: 10px;
    align-items: center;
    cursor: pointer;

    .name {
        font-size: calc(14px + 0.2vw);
        color: #333;
        font-weight: bold;
    }

    img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        object-fit: cover;
        background-color: #333;
    }

    button {
        border: none;
        padding: 5px 10px;
        border-radius: 5px;
        background-color: $first;
        color: white;
        cursor: pointer;
    }
}

.following-inner:hover {
    background-color: rgb(205, 205, 205);
}
