.navbar-master {
    width: 96.3vw;
    height: 10vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    position: relative;

    @media screen and (max-width: 768px) {
        flex-direction: column;
        height: auto;
    }
}

.user-logo {
    width: 10%;
    max-width: 60px;
    height: 80%;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 2%;
    transform: translateY(-50%);
    transition: transform 0.3s ease;
    &:hover {
        transform: translateY(-50%) scale(1.1);
    }
}

.connect-logo {
    width: auto;
    height: 100%;
    margin-left: 10px;
    cursor: pointer;
    @media screen and (max-width: 768px) {
        margin: 10px;
    }
}

.popup {
    display: flex;
    flex-direction: column;
}

.icons {
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 30px;

    @media screen and (max-width: 768px) {
        justify-content: space-around;
        margin: 10px 0;
    }
}

.icon-scss {
    cursor: pointer;
}

.icon-scss:hover {
    color: #717a71;
}

// .search-results{
//     position: absolute;
//     left: 330px;
//     top: 70px;
//     width: 550px;
//     height: 300px;
//     background-color: black;
//     border-radius: 10px;
//     height: auto;
//     border: 5px solid purple;

//     .search-inner{
//         display: flex;
//         // justify-content: space-evenly;
//         gap: 20px;
//         padding: 10px;
//         align-items: center;
//         cursor: pointer;
//         // border-radius: 10px;
//         img{
//             width:60px;
//             height: 60px;
//             border-radius: 50%;
//             object-fit: cover;
//         }
//         .name{
//             font: Helvetica;
//             font-size: 20px;
//         }
//     }
//     .search-inner:hover{
//         background-color: rgb(39, 34, 34);
//     }
// }

.search-results {
    position: absolute;
    left: 330px;
    top: 70px;
    width: 550px;
    height: 300px; /* Fixed height */
    background-color: black;
    border-radius: 10px;
    border: 5px solid purple;
    overflow: auto; /* Add overflow property */
}

.search-inner {
    display: flex;
    gap: 20px;
    padding: 10px;
    align-items: center;
    cursor: pointer;
}

.search-inner img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
}

.search-inner .name {
    font: Helvetica;
    font-size: 20px;
}

.search-inner:hover {
    background-color: rgb(39, 34, 34);
}
