$first: #0C0C0F;
$second: #31363F;
$third: #af52fe;

.navbar-master {
    width: 99%;
    height: 10vh;
    background-color: #0c0c0f;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    position: relative;

    @media screen and (max-width: 768px) {
        flex-direction: column;
        height: auto;
    }
}

.user-logo {
    width: 70%;
    max-width: 60px;
    height: 70%;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 2%;
    transform: translateY(-50%);
    transition: transform 0.3s ease;
    &:hover {
        transform: translateY(-50%) scale(1.1);
    }

    @media screen and (max-width: 768px) {
        position: static;
        transform: none;
        margin: 10px 0;
    }
}

.user-logo:hover {
    background-color: lighten($third , 1%);
}


.connect-logo {
    width: auto;
    height: 100%;
    margin-left: 10px;
    cursor: pointer;
    @media screen and (max-width: 768px) {
        margin: 10px;
    }
}

.popup {
    display: flex;
    flex-direction: column;
}

.icons {
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: -230px;

    @media screen and (max-width: 768px) {
        justify-content: space-around;
        margin: 10px 0;
        width: 100%;
    }
}

.icon-scss {
    cursor: pointer;
}

.icon-scss:hover {
    color: lighten($third, 20%);

}

.icon-scss.active {
    border-bottom: 5px solid $third;
    padding-bottom: 1%;
  }
  
.search-results {
    position: absolute;
    left: 330px;
    top: 70px;
    width: 550px;
    height: 300px; /* Fixed height */
    background-color: black;
    border-radius: 10px;
    border: 5px solid purple;
    overflow: auto; /* Add overflow property */

    @media screen and (max-width: 768px) {
        width: calc(100% - 20px);
        left: 10px;
        top: 50%;
        transform: translateY(-50%);
    }
}

.search-inner {
    display: flex;
    gap: 20px;
    padding: 10px;
    align-items: center;
    cursor: pointer;
}

.search-inner img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
}

.search-inner .name {
    font: Helvetica;
    font-size: 20px;
}

.search-inner:hover {
    background-color: rgb(39, 34, 34);
}
