.profileEdit { 
    display: flex;
    flex-direction: column;
    width: auto; 
    height: auto; 
    background-color: whitesmoke;
    margin: 30px; 
    border-radius: 5px;
    position: relative;

    .edit-btn{
        position: absolute;
        right: 20px;
        button{
            cursor: pointer;
        }
    }
    .profileEditInputs{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 50px;
        input{
            width: 300px;
            height: 40px;
            border-radius: 5px;
            border: 1px solid gray;
            margin: 10px;
            padding-left: 10px;
        }
    }

    .save-btn{
            display: inline-block;
            padding: .25em .75em;
            border-radius: 5em;
            color: #fff;
            font-size: 1em;
            letter-spacing: .15em;
            transition: all .3s;
            position: relative;
            overflow: hidden;
            z-index: 1;
            &:after {
              content: '';
              position: absolute;
              bottom: 0;
              left: 0;
              width: 100%;
              height: 100%;
              background-color: #0cf;
              border-radius: 10em;
              z-index: -2;
            }
            &:before {
              content: '';
              position: absolute;
              bottom: 0;
              left: 0;
              width: 0%;
              height: 100%;
              background-color: darken(#0cf, 15%);
              transition: all .3s;
              border-radius: 10em;
              z-index: -1;
            }
            &:hover {
              color: #fff;
              &:before {
                width: 100%;
              }
          }
    }
    
}


