body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: black;
}

.login-wrapper {
  font-family: Helvetica;
  max-width: 400em;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  .heading {
    color: white;
    font-weight: 200;
    font-size: 30px;
  }
  .sub-heading {
    color: white;
    font-weight: 200;
    font-size: 20px;
    margin-top: -20px;
  }
}

.auth-input {
  margin-top: 10%;
  .common-input {
    width: 80%;
  }
}


.login-btn {
  display: inline-block;
  padding: .25em .75em;
  border-radius: 5em;
  color: #fff;
  font-size: 1em;
  letter-spacing: .15em;
  transition: all .3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0cf;
    border-radius: 10em;
    z-index: -2;
  }
  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: darken(#0cf, 15%);
    transition: all .3s;
    border-radius: 10em;
    z-index: -1;
  }
  &:hover {
    color: #fff;
    &:before {
      width: 100%;
    }
  }
}


.google-btn-container {
  margin-top: 10%;
  .google-btn{
    width: 80% !important;
  }

  .signup-link{
    margin-top: 5%;
    font-size: 80%;
  }

  .register{
    color: #0072b1;
    font-family: system-ui;
    cursor: pointer;
  }
}

.hr-text {
  margin: 10% 0;
  &:before {
    background: linear-gradient(to right, transparent, #818078, transparent);
  }
  &:after {
    color: white;
    background-color: transparent;
  }
}

.connectLogo {
  width: 50%;
}
